<html lang="en"><head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ZyreXxx</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <header class="header">
      <span class="logo"><span class="pelemeni">пельмени</span> - самая лучшая еда</span>
    </header>
    <div class="hero">
      <div class="container hero__container">
        <div class="hero__about">
          <h1 class="hero__title"><span class="petyh">Python</span> - разработчик</h1>
          <h2 class="hero__subtitle">Тихон <span class="petyh">Бурдаков</span></h2>
          <p class="hero__description">
           Привет, я занимаюсь версткой сайтов, разработкой легких discord ботов, хорошо владею photoshop, blender 3d и движком unreal engine. Если хочешь заказать что то легкое, в теме разработки или фотошопе, то пиши в discord или telegram
          </p>
          <div class="hero__links">
            <a class="hero__link" href="https://vk.com/zyrexxx" target="_blank"><i class="bx bxl-vk"></i></a>
            <a class="hero__link" href="https://discord.gg/MwvRYU2eXK"><i class="bx bxl-discord"></i></a>
            <a class="hero__link" href="https://steamcommunity.com/id/2282009228/"><i class="bx bxl-steam"></i></a>
            <a class="hero__link" href="https://t.me/ZyreXxxGG"><i class="bx bxl-telegram"></i></a>
          </div>
        </div>
        <div class="hero__box">
          <img class="hero__box-img" src="11.png" alt="senko-san">
        </div>
      </div>
    </div>
  
  </body></html>