<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nowaki - Discord bot</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="styles.css">
</head>

<body>
  <header class="header">
    <span class="logo"><span class="pelemeni">пельмени</span> - самая лучшая еда</span>
  </header>
  <div class="hero">
    <div class="container hero__container">
      <div class="hero__about">
        <h2 class="hero__subtitle">Музыкальный бот<span class="petyh"> для каждого пользователя</span></h2>
        <p class="hero__description">
          пельмени
        </p>
      </div>
      <div class="hero__box">
        <img class="hero__box-img" src="nowaki.png" alt="Nowaki">
      </div>
    </div>
  </div>
</body>

</html>