<!DOCTYPE html>
<html>

<head>
  <title>Nowaki | Discord музыкальный бот</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description"
    content="Nowaki - музыкальный бот для Discord, который поддерживает SoundCloud, Deezer, Http и Zvuk. Пригласите Nowaki на свой сервер Discord.">
  <meta name="keywords" content="Nowaki, Discord, бот, музыка, SoundCloud, Deezer, Http, Zvuk">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="index.css">
</head>

<body>
  <div class="container">
    <div class="top-container">
      <div class="title">
        <img src="nowaki.png" alt="Nowaki logo" width="64" height="64">
        Nowaki
      </div>
      <nav class="navbar">
        <ul>
          <li><a href="#">Домой</a></li>
          <li><a href="#">О нас</a></li>
          <li><a href="#">Контакты</a></li>
        </ul>
      </nav>
    </div>
    <hr>
    <div class="main">
      <div class="bot-info">
        <h2>О боте</h2>
        <p>Nowaki - это музыкальный бот для Discord, который поддерживает SoundCloud, Deezer, Http и Zvuk.</p>
      </div>
      <div class="sidebar">
        <div class="left-footer">
          <p>Docs</p>
          <p>Discord</p>
        </div>
        <div class="right-footer">
          <p>Поддержка</p>
          <p>Пригласить</p>
        </div>
      </div>
    </div>
    <hr>
    <div class="footer">
      <div class="button-container">
        <button class="invite-button">Пригласить</button>
      </div>
      <div class="links">
        <div class="links-column">
          <p>Docs</p>
          <p>Discord</p>
        </div>
        <div class="links-column">
          <p>Поддержка</p>
          <p>Пригласить</p>
        </div>
      </div>
    </div>
  </div>
</body>

</html>