<!DOCTYPE html>
<html>

<head>
  <title>Nowaki | Discord музыкальный бот</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description"
    content="Nowaki - музыкальный бот для Discord, который поддерживает SoundCloud, Deezer, Http и Zvuk. Пригласите Nowaki на свой сервер Discord.">
  <meta name="keywords" content="Nowaki, Discord, бот, музыка, SoundCloud, Deezer, Http, Zvuk">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="index.css">
</head>

<body>
  <div class="container">
    <div class="top-container">
      <div class="title">
        Nowaki
      </div>
      <nav class="navbar">
        <ul>
          <li><a href="#">Домой</a></li>
          <li><a href="#">О нас</a></li>
          <li><a href="#">Контакты</a></li>
        </ul>
      </nav>
    </div>
    <hr>
    <div class="main">
      <div class="bot-info">
        <h2>О боте</h2>
        <p>Nowaki - это музыкальный бот для Discord, который поддерживает SoundCloud, Deezer, Http и Zvuk.</p>
      </div>
    </div>
    <hr>
    <footer class="page-footer font-small unique-color-dark pb-2">
      <div class="container text-center text-md-start mt-2 mb-3">
        <div class="row mt-3 justify-content-center">
          <div class="col-md-3 col-lg-3 col-xl-4 mb-2 me-lg-5 mt-2">
            <h6 class="text-uppercase font-regular footer-title">MySite</h6>
            <hr class="mb-2 mt-0 d-inline-block" style="width: 60px;">
            <p class="footer-link">Мы не являемся аффилированным лицом <b>Discord</b></p>
          </div>
          <div class="col-6 col-md-3 col-lg-2 col-xl-2 mb-2 md-4 me-lg-5 mt-2">
            <h6 class="text-uppercase font-regular footer-title">Ссылки</h6>
            <hr class="mb-2 mt-0 d-inline-block mx-auto" style="width:60px;">
            <p class="mb-0"><a class="footer-link" href="#">Ссылка 1</a></p>
            <p class="mb-0"><a class="footer-link" href="#">Ссылка 2</a></p>
            <p class="mb-0"><a class="footer-link" href="#">Ссылка 3</a></p>
            <p class="mb-0"><a href="#" class="footer-link">Ссылка 4</a></p>
          </div>
          <div class="col-6 col-md-3 col-lg-2 col-xl-2 mb-2 md-4 me-lg-5 mt-2">
            <h6 class="text-uppercase font-regular footer-title">Информация</h6>
            <hr class="mb-2 mt-0 d-inline-block mx-auto" style="width:60px;">
            <p class="mb-0"><a class="footer-link" href="#">Условия использования</a></p>
            <p class="mb-0"><a class="footer-link" href="#">Конфиденциальность</a></p>
          </div>
          <div class="col-md-3 col-lg-3 col-xl-2 mb-md-0 mb-2 text-md-end mt-2">
            <h6 class="text-uppercase font-regular footer-title">Связь с нами</h6>
            <hr class="mb-2 mt-0 d-inline-block mx-auto" style="width:60px;">
            <p class="mb-0"><a class="footer-link" href="#">Telegram</a></p>
            <p class="mb-0"><a class="footer-link" href="#">Discord</a></p>
          </div>
        </div>
      </div>
    </footer>
</body>

</html>